body {
  display: grid;
  background-color: black;
  color: white;
  justify-content: center;
}
#header {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px 0px 100px;
}
#grid {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-auto-rows: minmax(100px, auto);
  /* doesn't need the rows if there is something in the divs */
  justify-content: center;
  grid-gap: 0.25em;
  margin: 50px;
  width: 750px;
}
#grid > div {
  background: #eee;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 10px rgba(194, 26, 67, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
#grid > div:nth-child(odd) {
  background: #aaa;
}
#grid > div:hover,
#grid > div:focus,
#grid > div:active {
  box-shadow: 0 0 50px 20px rgba(192, 26, 67, 0.9), inset 0 0 30px 5px #fff,
    0 0 10px #fff;
  background-color: rgba(192, 26, 67, 1);
}
.btn{
    display: flex;
    justify-content: center;
    width: 800px;
}
.button {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button svg {
  height: 55px;
  width: 150px;
  fill: none;
  stroke-width: 5;
}
.button svg .o1 {
  stroke: rgba(255, 65, 65, 0.7);
  fill: #ff1414;
  transition: all 1s ease-in-out;
}
.button svg .o2 {
  stroke: white;
  stroke-dasharray: 20 420;
  stroke-dashoffset: 20;
  transition: all 1s ease-in-out;
}
.button span {
  position: absolute;
  margin: auto 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.button:hover .o1 {
  fill: rgba(204, 16, 16, 0.3);
}
.button:hover .o2 {
  stroke-dashoffset: -420;
}
